@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: @font_family_main;
  font-size: @font_size_big;
}

h1 {
  filter: drop-shadow(4px 4px 4px black);
  text-shadow: -1px -1px 1px #aaaa, 1px 1px 1px #333a;
  padding: 1px 15px;
  border-radius: 8px;
}

h2 {
  font-size: @font_size_huge;
  filter: drop-shadow(4px 4px 4px black);
  text-shadow: -1px -1px 6px #aaa4;
}

.filterDiv {
  font-size: 17px !important;
}

.is-action {
  color: lightblue;
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.newlines {
  white-space: pre;
}

// normal backgrounds
each(@players, {
@c: ~"player_@{value}";
.player_bg_color_@{value} {
  background-color: @@c;
}
})

// backgrounds with opacity
each(@players, {
@c: ~"player_@{value}";
.player_translucent_bg_color_@{value} {
  background: rgba(@@c, 0.7);
}
})

.alert-dialog {
  position: fixed;
}

.general-warning {
  color: #bb0000;
}

// Import mobile optimizations
@import "./mobile_optimizations.less";

@import "./cards.less";
@import "./cards_v2.less";
@import "./language_hacks.less";
@import "./board.less";
@import "./board_items_positions.less";
@import "./globs.less";
@import "./game_home.less";
@import "./game_end.less";
@import "./resources.less";
@import "./start_screen.less";
@import "./create_game_form.less";
@import "./corporations_filter.less";
@import "./cards_filter.less";
@import "./player_home.less";
@import "./players_overview.less";
@import "./preferences.less";
@import "./popup.less";
@import "./card_help.less";
@import "./waiting_for.less";
@import "./payments.less";
@import "./other_player.less";
@import "./colonies.less";
@import "./log.less";
@import "./load_game_form.less";
@import "./continue_game.less";
@import "./turmoil.less";
@import "./ares.less";
@import "./games-overview.less";
@import "./help.less";
@import "./card_list.less";
@import "./moon.less";
@import "./pathfinders.less";
@import "./language_icon.less";